# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore virtual environment
venv/
AI_INTERVIEW/

# Ignore logs
*.log
logs/

# Ignore IDE-specific files
.vscode/
.idea/
