fastapi
uvicorn
pydantic
python-jose[cryptography]
passlib[bcrypt]
motor
python-dotenv
httpx
deepface
tensorflow-cpu
tf-keras
opencv-python-headless
numpy
sqlalchemy
bcrypt
opencv-python
pandas
python-multipart
matplotlib
tqdm
aiofiles
pydub
slowapi
vaderSentiment
python-decouple
pydantic[email]
numpy<2
soundfile
librosa
SpeechRecognition
spacy
fer
vaderSentiment